body{
	width: auto;
	height: 400px;
	background: #000000;
	margin: 0px;
	font-family: monospace;
	font-size: 100px;
	color: #ffffff;
}
#table{
	width: 800px;
	height: 494.44px;
	background: #161616;
}
#lewy{
	left: 10px;
	top: 0px;
	width: auto;
	height: 100px;
	position: absolute;
}
#prawy{
	left: 735px;
	top: 0px;
	width: auto;
	height: 100px;
	position: absolute;
}
#menu{
	top: 150px;
	left: 300px;
	width: 200px;
	height: 115px;
	font-size: 20px;
	position: absolute;
	visibility: visible;
	text-align: center;
}
#start{
	left: 400px;
	width: 200px;
	height: 46px;
	font-size: 20px;
	text-align: center;
	clear: both;
	
}
.right{
	left: 400px;
	width: 100px;
	height: 46px;
	font-size: 20px;
	text-align: right;
	float: left;
}
.left{
	left: 300px;
	width: 100px;
	height: 46px;
	font-size: 20px;
	text-align: left;
	float: left;
}
#end{
	top: 150px;
	left: 300px;
	width: 200px;
	height: 115px;
	font-size: 20px;
	position: absolute;
	visibility: hidden;
	text-align: center;
}